<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" class="vol" color="verde"  routerLink="/tab1" ><ion-icon name="arrow-undo-circle-outline"></ion-icon> Voltar</ion-button>
    <ion-title>
     Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card  class="card">

  <ion-item class="nome">
    <ion-label>Nome: </ion-label>
    <ion-input placeholder="João"></ion-input>
  </ion-item>

  <ion-item class="email">
    <ion-label>Email: </ion-label>
    <ion-input type="email" placeholder="example123@gmail.com"></ion-input>
  </ion-item>

  <ion-item class="cpf">
    <ion-label>CPF</ion-label>
    <ion-input maxlength="14" placeholder="000.000.000-00"></ion-input>
  </ion-item>

  <ion-item class="senha">
    <ion-label>Senha: </ion-label>
    <ion-input type="password" value=""></ion-input>
  </ion-item>


  <ion-item class="csenha">
    <ion-label>Confirmar senha: </ion-label>
    <ion-input type="password" placeholder=""></ion-input>
  </ion-item>

  <ion-button class="but" expand="block" color="verde" (click)="presentToast('bottom')">Salvar</ion-button>

</ion-card>
</ion-content>
