.card{
  width: 95%;
  height: 50%;
  }
.nome{
padding-bottom: 5%;
}
.email{
  padding-bottom: 5%;
}
.cpf{
  padding-bottom: 5%;
}
.senha{
  padding-bottom: 5%;
}
.csenha{
  padding-bottom: 5%;
}
.but{
  border-radius: 34px;
    width: 30%;
    height: 10%;
    font-size: 11px;
    position: absolute;
    top: 86%;
    left: 47%;
    font-weight: bold;
}

.vol{
  height: 25%;
    font-size: 11px;
    position: absolute;
    top: 32%;
    left: 0%;
    font-weight: 700;
}

ion-title{
  margin-left: 18%;
}
