.but{
  border-radius: 34px;
    width: 30%;
    height: 10%;
    font-size: 11px;
    position: absolute;
    top: 63%;
    left: 56%;
    font-weight: bold;
}

.ent{
  border-radius: 34px;
    width: 30%;
    height: 10%;
    font-size: 11px;
    position: absolute;
    top: 63%;
    left: 20%;
    font-weight: bold;
}

.card{
width: 95%;
height: 50%;
}

.email{
  position: absolute;
  top: 5%;
  left: 15%;
}

.senha{
  position: absolute;
  top: 30%;
  left: 15%;
}

.esqsenha{
  position: absolute;
  top: 40%;
  left: 13%;
}
